body {
  font-family: Arial;
}

.color {
  fill: blue;
  width: 100px;
  height: 100px;
}

.color2 {
  fill: green;
  width: 100px;
  height: 100px;
}

.inline {
  align-content: center;
  align-items: center;
}
