body {
  font-family: Arial;
}

.color {
  fill: blue;
  width: 100px;
  height: 100px;
}

.color2 {
  fill: green;
  width: 100px;
  height: 100px;
}

.flex-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.randButton {
  padding: 10px 24px;
  width: 100px;
  height: 100px;
}

.color1 {
  padding: 10px 24px;
  width: 100px;
  height: 100px;
}
